<a href="/auth/signup"><button>Sign Up</button></a>
<a href="/auth/login"><button>Log In</button></a>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/movies">Movies</a>
<br>
<a href="/celebrities">Celebrities</a>