<h2>Logged Users Home</h2>

<a href="/celebrities/create">Create a new Celebrity</a>
<br>
<a href="/movies/create">Create a new Movie</a>
<br>
<a href="/auth/logout">
  <button style="background: red">LOGOUT</button>
</a>